<!--
Parameters
- type: "info" or "warning"
- name: achievement identifier (key in /_data/halo_achievement_names.yaml)
- content: main content
-->
{% assign english_name = site.data.halo_achievement_names[include.name].english %}
{% assign korean_name = site.data.halo_achievement_names[include.name].korean %}
{% assign logo = include.name | replace: "_", "-" | append: ".jpg" %}
{% capture body %}
!["{{ english_name }}" achievement logo](/assets/images/halo-cea/achievements/{{ logo }}){: .align-left}
**[{{ korean_name }}]** {{ include.content }}
{% endcapture %}
<div class="halo-achievement--{{ include.type }}">{{ body | markdownify }}</div>
