<!--
Parameters
- type: "info" or "warning"
- english_name: achievement name in English
- korean_name: achievement name in Korean
- content: main content
-->
{% capture id %}
{{ include.english_name | remove: "Halo: CE: " | remove: "'" | remove: "..." | replace: " ", "-" | downcase }}
{% endcapture %}
{% capture body %}
!["{{ include.english_name }}" achievement logo](/assets/images/halo-cea/achievements/{{ id }}.jpg){: .align-left}
**[{{ include.korean_name }}]** {{ include.content }}
{% endcapture %}
<div class="halo-achievement--{{ include.type }}">{{ body | markdownify }}</div>
